:root {
  --gray-300: #ccc;
  --gray-400: #bbb;
  --gray-500: #aaa;
  --aqua: #2ec4b6;
}

.game {
  border: solid 0.25rem var(--gray-500);
  height: 620px;
  width: 360px;
  margin: 2.5rem auto;
  border-bottom-right-radius: 15% 10%;
  border-bottom-left-radius: 7.5% 5%;
}

@media screen and (max-width: 411px) {
  .game {
    border: none;
    width: 100%;
    margin-top: 0;
  }

  body {
    overflow: hidden;
  }
}

.canvas-container {
  position: relative;
  box-shadow: 0 0 0 0.25rem var(--gray-500);
  margin: 1.25rem auto;
  justify-content: center;
}

.canvas-overlay {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--gray-300);
  opacity: 0.8;
  justify-content: center;
  align-items: center;
}

.overlay-message {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 1;
  color: tomato;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-align: center;
  font-size: 30px;
}

.snake-img {
  width: 150px;
  height: 150px;
  margin-bottom: -50px;
}

.overlay-button {
  border: solid 2px var(--aqua);
  color: var(--aqua);
  background: rgba(255, 255, 255, 0.75);
  padding: 0.5rem 0.75rem;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.overlay-button:active {
  transform: translateY(2px);
}

#canvas {
  background: var(--aqua);
}

.under-canvas {
  text-align: center;
  color: white;
  background: var(--gray-500);
  padding: 0.125rem;
}

.controls {
  display: flex;
  margin: 0.75rem auto;
  padding: 0.125rem;
  justify-content: space-between;
}

.directional-container {
  background: var(--gray-300);
  border: solid 0.25rem var(--gray-300);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  padding: 8px;
  transform: rotate(45deg);
  outline: none;
}

.control {
  font-size: 18px;
  border: solid 3px var(--gray-300);
  width: 70px;
  height: 70px;
  background: #dedede;
  outline: none;
  user-select: none;
}

.control:hover {
  background: #bbb;
}

.control-text {
  color: transparent;
  transform: rotate(-45deg);
}

.up {
  border-top: solid 0.25rem var(--gray-300);
  border-left: solid 0.25rem var(--gray-300);
  border-top-left-radius: 50%;
}

.up:active {
  transform: translate(-2px, -2px);
}

.right {
  border-top: solid 0.25rem var(--gray-300);
  border-right: solid 0.25rem var(--gray-300);
  border-top-right-radius: 50%;
}

.right:active {
  transform: translate(2px, -2px);
}

.down {
  border-bottom: solid 0.25rem var(--gray-300);
  border-right: solid 0.25rem var(--gray-300);
  border-bottom-right-radius: 50%;
}

.down:active {
  transform: translate(2px, 2px);
}

.left {
  border-bottom: solid 0.25rem var(--gray-300);
  border-left: solid 0.25rem var(--gray-300);

  border-bottom-left-radius: 50%;
}

.left:active {
  transform: translate(-2px, 2px);
}

.score {
  border: solid 3px var(--gray-300);
  position: relative;
  left: -7px;
  background: #accac7;
  color: teal;
  text-align: right;
  font-size: 30px;
  padding: 15px 10px;
  width: 120px;
  height: 30px;
  margin: auto;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.score--best {
  color: tomato;
}

.best-score {
  font-size: 16px;
}

.best-score--beaten {
  color: teal;
}

.best-score-label {
  color: #666;
}
