@font-face {
  font-family: EarlyGameBoy;
  src: url(./Early-GameBoy.ttf);
}

* {
  font-family: EarlyGameBoy;
}

body {
  background: #fdfffc;
  max-height: 100vh;
  overscroll-behavior: none;
  overflow: hidden;
}
